@import url(https://fonts.googleapi.com/css2?family=chakra+Petch:wght@400;700)

:root {
    --cor-de-fundo: #1E1e1E;
    --verde: #6FFF57;
    --branco: #FFFFFF;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 5, 94, 0.5)
    








} 